@charset "utf-8";

.cont_area {
    padding: 4rem 0;
}
.brd_cont_box {
    padding: 3.7rem 1rem;
    text-align: center;
    background-color: #fff;
    border: 5px solid #1b6bc9;
    border-radius: 0.5rem;
}
.db {
    color: #fff;
    background-color: #1b6bc9;
    border-radius: 0.5rem;
}
.page_btn_box {
    padding-top: 3.5rem;
    text-align: center;
}
.page_btn_box .tip {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #fff;
}

@media (max-width: 575.98px) {
    .brd_cont_box {
        border-width: 3px;
    }
}

/*============================================================
visual
============================================================*/
.vsl_area {
    overflow: hidden;
    height: 15rem;
    text-align: center;
    background-color: #a3df05;
}
.vsl_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 27.94%;
}
.vsl_area .txt_box {
    position: relative;
    padding-top: 6rem;
}
.vsl_area .tit {
    margin: 0 auto;
    width: 51.45%;
}

@media (max-width: 991.98px) {
    .vsl_area .tit {
        width: 75%;
    }
    .vsl_img {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .vsl_area .txt_box {
        padding-top: 7rem;
    }
    .vsl_area .tit {
        width: 100%;
    }
}

/*============================================================
quiz
============================================================*/
.quiz_box .step {
    font-size: 2.3rem;
}
.quiz_box .tit {
    padding-top: 1.75rem;
    font-size: 1.5rem;
    line-height: 1.3;
}
.quiz_box .btn {
    margin-top: 0.75rem;
    width: 10rem;
    height: 2rem;
    font-size: 0.9rem;
    line-height: 2.2rem;
    color: #fff;
    background-color: #5753e2;
    border-radius: 2rem;
}

.answer_box {
    padding-top: 1rem;
}
.answer_box li {
    margin-top: 1rem;
    width: 49.15%;
}
.answer_box .form_check {
    padding: 1rem 1rem 1rem 3.5rem;
}
.answer_box .form_check .box {
    position: absolute;
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background: url('../images/sub/form-check-ico.png') no-repeat center;
    background-size: 100%;
}
.answer_box .form_check .label {
    padding-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.3;
}

.answer_box .form_check.on .box {
    background: url('../images/sub/form-check-on-ico.png') no-repeat center;
    background-size: 100%;
}

@media (max-width: 575.98px) {
    .quiz_box .btn {
        height: 2.5rem;
        font-size: 1rem;
        line-height: 2.7rem;
    }
    .answer_box {
        display: block;
    }
    .answer_box li {
        width: 100%;
    }
    .answer_box .form_check {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

/*============================================================
result
============================================================*/
.result_db {
    padding: 1.5rem 4rem;
    font-size: 2.3rem;
}
.result_db .count_num {
    display: inline-block;
    padding-right: 1.25rem;
    font-size: 4rem;
    vertical-align: middle;
}
.result_box {
    margin-top: 2rem;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
    -webkit-transition: transform .5s .45s, opacity .5s .45s;
    transition: transform .5s .45s, opacity .5s .45s;
}
.result_box.on {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.result_box .tit {
    font-size: 3rem;
    line-height: 1.2;
    color: #247ed4;
}
.result_box .txt {
    padding: 1.5rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5;
}
.result_box .thumb {
    margin: 0 auto;
    max-width: 40rem;
}
.type_bhv_list {
    margin: 0 auto;
    max-width: 40rem;
}
.type_bhv_list .flex_box_el {
    width: 50%;
}
.type_bhv_list li {
    position: relative;
    padding-left: 4rem;
    margin-top: 2rem;
    text-align: left;
}
.type_bhv_list .ico {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-color: #247ed4;
    border-radius: 100%;
}
.type_bhv_list .label {
    display: block;
    font-size: 1.2rem;
    color: #247ed4;
}
.type_bhv_list .txt {
    padding: 0;
    padding-top: 5px;
}

.banner_area {
    overflow: hidden;
    padding: 0;
}
.banner_area .grid {
    padding: 4rem 0;
}
.banner_area .tit {
    font-size: 2.5rem;
    line-height: 1.2;
}
.banner_area .txt {
    padding-top: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.4;
}
.banner_area .btn {
    margin-top: 1.5rem;
}
.banner_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
}
.banner_area.top {
    background-color: #ffe345;
}
.banner_area.top .banner_img {
    top: 11.5%;
    right: 9.05%;
}
.banner_area.md {
    background-color: #160e9c;
}

.banner_area.md .grid {
    padding: 0;
}
.banner_area.md .banner_area__md_link {
    padding: 3.5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_area.md .banner_img {
    position: static;
    width: 28.55rem;
}

.tag-list {
    padding: 1rem 0 2.5rem 0;
    display: flex;
}
.tag-list li,
.tag-list li:nth-child(3) {
    width: 5.6rem;
}
.tag-list li:nth-child(2) {
    width: 8.55rem;
}
.tag-list li:nth-child(4) {
    width: 9.3rem;
}

@media (max-width: 991.98px) {
    .banner_area .grid {
        padding-bottom: 10rem;
    }
    .banner_img {
        height: 70%;
    }
}

@media (max-width: 768.98px) { 
    .banner_area.top .banner_img {
        right: 0;
    }

    .banner_area.md .banner_img{
        width: 17.55rem;
    }
}

@media (max-width: 575.98px) {
    .result_db,
    .result_db .label,
    .result_db .count {
        display: block;
    }
    .result_db {
        padding: 1.5rem;
        font-size: 2rem;
        text-align: center;
    }
    .result_db .count {
        padding-top: 1rem;
    }
    .result_box .tit {
        font-size: 2.8rem;
    }
    .result_box .txt {
        font-size: 1.2rem;
    }
    .type_bhv_list {
        display: block;
    }
    .type_bhv_list .flex_box_el {
        width: 100%;
    }
    .banner_area .grid {
        padding: 3rem 0;
    }
    .banner_img {
        display: none;
    }
    .banner_area.md .grid {
        padding: 3rem 0;
    }
    .banner_area.md .banner_area__md_link {
        display: block;
    }
    .tag-list {
        padding-bottom: 0;
        flex-wrap: wrap;
    }
    .tag-list li {
        padding-bottom: 1rem;
    }
    .tag-list li, .tag-list li:nth-child(3) {
        width: 6.6rem;
    }
    .tag-list li:nth-child(2) {
        width: 9.55rem;
    }
    .tag-list li:nth-child(4) {
        width: 10.3rem;
    }
}