@charset "utf-8";

/*============================================================
defaut rem & grid style
============================================================*/
html {
    font-size: 20px;
}
.grid {
    position: relative;
    margin: 0 auto;
    max-width: 1170px;
}

@media (max-width: 1199.98px) { /* Large devices (desktops, less than 1200px) */
    html {
        font-size: 18px;
    }
    .grid {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 991.98px) { /* Medium devices (tablets, less than 992px) */
    html {
        font-size: 16px;
    }
}
@media (max-width: 767.98px) { /* Small devices (landscape phones, less than 768px) */
    html {
        font-size: 14px;
    }
}
@media (max-width: 575.98px) {
    html {
        font-size: 12px;
    }
}

/*============================================================
layout align
============================================================*/
.flex_box {
    display: flex;
    flex-wrap: wrap;
}
.flex_row {
    flex-direction: row;
}
.flex_row_rv {
    flex-direction: row-reverse;
}
.flex_col {
    flex-direction: column;
}
.flex_col_rv {
    flex-direction: column-reverse;
}
.flex_spc_btw {
    justify-content: space-between;
}
.flex_spc_ard {
    justify-content: space-around;
}
.flex_spc_cnt {
    justify-content: center;
}
.flex_align_cnt {
    align-items: center;
}

/*============================================================
padding & margin
============================================================*/
/* padding
============================================================*/
.p0 {
    padding: 0 !important
}
.pt0 {
    padding-top: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.p10 {
    padding: 0.5rem !important;
}
.pt10 {
    padding-top: 0.5rem !important;
}
.pb10 {
    padding-bottom: 0.5rem !important;
}
.pl10 {
    padding-left: 0.5rem !important;
}
.pr10 {
    padding-right: 0.5rem !important;
}
.p20 {
    padding: 1rem !important;
}
.pt20 {
    padding-top: 1rem !important;
}
.pb20 {
    padding-bottom: 1rem !important;
}
.pl20 {
    padding-left: 1rem !important;
}
.pr20 {
    padding-right: 1rem !important;
}
.p30 {
    padding: 1.5rem !important;
}
.pt30 {
    padding-top: 1.5rem !important;
}
.pb30 {
    padding-bottom: 1.5rem !important;
}
.pl30 {
    padding-left: 1.5rem !important;
}
.pr30 {
    padding-right: 1.5rem !important;
}
.p40 {
    padding: 2rem !important;
}
.pt40 {
    padding-top: 2rem !important;
}
.pb40 {
    padding-bottom: 2rem !important;
}
.pl40 {
    padding-left: 2rem !important;
}
.pr40 {
    padding-right: 2rem !important;
}
.p50 {
    padding: 2.5rem !important;
}
.pt50 {
    padding-top: 2.5rem !important;
}
.pb50 {
    padding-bottom: 2.5rem !important;
}
.pl50 {
    padding-left: 2.5rem !important;
}
.pr50 {
    padding-right: 2.5rem !important;
}
.p60 {
    padding: 3rem !important;
}
.pt60 {
    padding-top: 3rem !important;
}
.pb60 {
    padding-bottom: 3rem !important;
}
.pl60 {
    padding-left: 3rem !important;
}
.pr60 {
    padding-right: 3rem !important;
}
.p70 {
    padding: 3.5rem !important;
}
.pt70 {
    padding-top: 3.5rem !important;
}
.pb70 {
    padding-bottom: 3.5rem !important;
}
.pl70 {
    padding-left: 3.5rem !important;
}
.pr70 {
    padding-right: 3.5rem !important;
}
.p80 {
    padding: 4rem !important;
}
.pt80 {
    padding-top: 4rem !important;
}
.pb80 {
    padding-bottom: 4rem !important;
}
.pl80 {
    padding-left: 4rem !important;
}
.pr80 {
    padding-right: 4rem !important;
}
.p90 {
    padding: 4.5rem !important;
}
.pt90 {
    padding-top: 4.5rem !important;
}
.pb90 {
    padding-bottom: 4.5rem !important;
}
.pl90 {
    padding-left: 4.5rem !important;
}
.pr90 {
    padding-right: 4.5rem !important;
}
.p100 {
    padding: 5rem !important;
}
.pt100 {
    padding-top: 5rem !important;
}
.pb100 {
    padding-bottom: 5rem !important;
}
.pl100 {
    padding-left: 5rem !important;
}
.pr100 {    
    padding-right: 5rem !important;
}
.p110 {
    padding: 5.5rem !important;
}
.pt110 {
    padding-top: 5.5rem !important;
}
.pb110 {
    padding-bottom: 5.5rem !important;
}
.pl110 {
    padding-left: 5.5rem !important;
}
.pr110 {    
    padding-right: 5.5rem !important;
}
.p120 {
    padding: 6rem !important;
}
.pt120 {
    padding-top: 6rem !important;
}
.pb120 {
    padding-bottom: 6rem !important;
}
.pl120 {
    padding-left: 6rem !important;
}
.pr120 {    
    padding-right: 6rem !important;
}
/* margin
============================================================*/
.m0 {
    margin: 0 !important
}
.mt0 {
    margin-top: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.m10 {
    margin: 0.5rem !important;
}
.mt10 {
    margin-top: 0.5rem !important;
}
.mb10 {
    margin-bottom: 0.5rem !important;
}
.ml10 {
    margin-left: 0.5rem !important;
}
.mr10 {
    margin-right: 0.5rem !important;
}
.m20 {
    margin: 1rem !important;
}
.mt20 {
    margin-top: 1rem !important;
}
.mb20 {
    margin-bottom: 1rem !important;
}
.ml20 {
    margin-left: 1rem !important;
}
.mr20 {
    margin-right: 1rem !important;
}
.m30 {
    margin: 1.5rem !important;
}
.mt30 {
    margin-top: 1.5rem !important;
}
.mb30 {
    margin-bottom: 1.5rem !important;
}
.ml30 {
    margin-left: 1.5rem !important;
}
.mr30 {
    margin-right: 1.5rem !important;
}
.m40 {
    margin: 2rem !important;
}
.mt40 {
    margin-top: 2rem !important;
}
.mb40 {
    margin-bottom: 2rem !important;
}
.ml40 {
    margin-left: 2rem !important;
}
.mr40 {
    margin-right: 2rem !important;
}
.m50 {
    margin: 2.5rem !important;
}
.mt50 {
    margin-top: 2.5rem !important;
}
.mb50 {
    margin-bottom: 2.5rem !important;
}
.ml50 {
    margin-left: 2.5rem !important;
}
.mr50 {
    margin-right: 2.5rem !important;
}
.m60 {
    margin: 3rem !important;
}
.mt60 {
    margin-top: 3rem !important;
}
.mb60 {
    margin-bottom: 3rem !important;
}
.ml60 {
    margin-left: 3rem !important;
}
.mr60 {
    margin-right: 3rem !important;
}
.m70 {
    margin: 3.5rem !important;
}
.mt70 {
    margin-top: 3.5rem !important;
}
.mb70 {
    margin-bottom: 3.5rem !important;
}
.ml70 {
    margin-left: 3.5rem !important;
}
.mr70 {
    margin-right: 3.5rem !important;
}
.m80 {
    margin: 4rem !important;
}
.mt80 {
    margin-top: 4rem !important;
}
.mb80 {
    margin-bottom: 4rem !important;
}
.ml80 {
    margin-left: 4rem !important;
}
.mr80 {
    margin-right: 4rem !important;
}
.m90 {
    margin: 4.5rem !important;
}
.mt90 {
    margin-top: 4.5rem !important;
}
.mb90 {
    margin-bottom: 4.5rem !important;
}
.ml90 {
    margin-left: 4.5rem !important;
}
.mr90 {
    margin-right: 4.5rem !important;
}
.m100 {
    margin: 5rem !important;
}
.mt100 {
    margin-top: 5rem !important;
}
.mb100 {
    margin-bottom: 5rem !important;
}
.ml100 {
    margin-left: 5rem !important;
}
.mr100 {    
    margin-right: 5rem !important;
}
.m110 {
    margin: 5.5rem !important;
}
.mt110 {
    margin-top: 5.5rem !important;
}
.mb110 {
    margin-bottom: 5.5rem !important;
}
.ml110 {
    margin-left: 5.5rem !important;
}
.mr110 {    
    margin-right: 5.5rem !important;
}
.m120 {
    margin: 6rem !important;
}
.mt120 {
    margin-top: 6rem !important;
}
.mb120 {
    margin-bottom: 6rem !important;
}
.ml120 {
    margin-left: 6rem !important;
}
.mr120 {    
    margin-right: 6rem !important;
}

/*============================================================
show & hide
============================================================*/
.pc_show {
    display: block;
}
.mo_show {
    display: none;
}
@media (max-width: 575.98px) {
    .pc_show {
        display: none !important;
    }
    .mo_show {
        display: block !important;
    }
}

/*============================================================
text style
============================================================*/
/* font family
============================================================*/
.fw300 {
    font-family: 'NEXON Gothic Light', 'Nanum Gothic', 'Malgun Gothic', '돋움', 'dotum', 'AppleGothic', Helvetica, Arial, Sans-Serif !important;
    font-weight: 300 !important;
}
.fw400 {
    font-family: 'NEXON Gothic', 'Nanum Gothic', 'Malgun Gothic', '돋움', 'dotum', 'AppleGothic', Helvetica, Arial, Sans-Serif !important;
    font-weight: 400 !important;
}
.fw700 {
    font-family: 'NEXON Gothic Bold', 'Nanum Gothic', 'Malgun Gothic', '돋움', 'dotum', 'AppleGothic', Helvetica, Arial, Sans-Serif !important;
    font-weight: 400 !important;
}
/* text align
============================================================*/
.txt_lt {
    text-align: left;
}
.txt_rt {
    text-align: right;
}
.txt_cnt {
    text-align: center;
}
/* text ellipsis
============================================================*/
.txt_elp {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt_elp_multi {
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .txt_elp_multi {
        display: block;
    }
}
/* text indent
============================================================*/
.txt_indent {
    position: relative;
}
.txt_indent .mark {
    position: absolute;
    left: 0;
}
/* text break
============================================================*/
.txt_break {
    display: block;
}

@media screen and (max-width: 575.98px) {
    .txt_break {
        display: inline;
    }
    .txt_break_mo {
        display: block;
    }
}

/*============================================================
color palatte
============================================================*/
/* font color
============================================================*/
.fc_white {
    color: #fff !important;
}
.fc_pink {
    color: #ff6980 !important;
}
.fc_mint {
    color: #00c0bf !important;
}
.fc_blue {
    color: #5753e2 !important;
}
.fc_lgrey {
    color: #999 !important;
}
.fc_grey {
    color: #666 !important;
}
.fc_black {
    color: #000 !important;
}
/* background color
============================================================*/
.white {
    background-color: #fff !important;
}
.pink {
    background-color: #ff6980 !important;
}
.mint {
    background-color: #00c0bf !important;
}
.blue {
    background-color: #5753e2 !important;
}
.black {
    background-color: #000 !important;
}

/*============================================================
button
============================================================*/
.btn {
    display: inline-block;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.btn .label {
    display: inline-block;
}
.tcon_btn {
    font-family: 'NEXON Gothic Bold';
    font-weight: 400;
    color: #ff6980;
    text-align: center;
    background-color: #000;
    border-radius: 0.5rem;
}
.tcon_btn.lg {
    padding: 1.5rem;
    min-width: 23rem;
    font-size: 2rem;
}
.tcon_btn.md {
    padding: 1.25rem;
    min-width: 20rem;
    font-size: 1.5rem;
}
.tcon_btn .letter {
    display: inline-block;
}
.tcon_btn:hover .letter {
    -webkit-animation: btnLetter .35s ease;
    animation: btnLetter .35s ease;
}
@-webkit-keyframes btnLetter {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff; 
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes btnLetter {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff; 
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width: 575.98px) {
    .tcon_btn.lg {
        padding: 1.8rem 1.5rem;
    }
}

/*============================================================
modal
============================================================*/
html.full {
    overflow: hidden;
}
.modal_area {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
.modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.modal-hd {
    padding: 1.5rem 0;
    text-align: center;
    background-color: #ff6980;
}
.modal-hd-tit {
    font-size: 1.5rem;
    color: #fff;
}
.modal_view {
    padding: 4rem 1.5rem;
}
.modal_btn {
    padding: 1.25rem;
    font-family: 'NEXON Gothic Bold';
    font-size: 1.5rem;
    text-align: center;
    color: #ff6980;
    background-color: #000;
}
.modal_btn.col1 {
    width: 100%;
}
.modal_btn.col2 {
    width: 50%;
}

@media screen and (max-width: 768.98px) {
    .close-modal {
        right: 2rem;
    }
}

@media screen and (max-width: 576.98px) {
    .close-modal {
        width: 1.5rem;
        height: 1.5rem;
    }
    .modal-hd-tit {
        line-height: 1.4;
    }
    .modal_btn {
        padding: 1.5rem 1.25rem;
    }
}
/* trend modal
============================================================*/
.tt-modal {
    width: 44rem;
    background-color: #f7f7f7;
}
.tt-modal .modal-view {
    overflow-y: scroll;
    padding: 2.5rem 4rem 4rem;
    height: 30rem;
}
.tt-modal .modal-view::-webkit-scrollbar {
    width: 5px;
}
.tt-modal .modal-view::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}
.tt-modal .modal-view::-webkit-scrollbar-thumb {
    background: #000;
}
.tt-modal li {
    padding: 1.5rem 0;
    border-bottom: 1px solid #c6c6c6;
}
.tt-modal .txt-indent {
    padding-left: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.35;
}
.tt-modal .txt-indent + .txt-indent {
    margin-top: 0.5rem;
}
.tt-modal .txt-indent .mark {
    top: -1px;
}

@media screen and (max-width: 768.98px) {
    .tt-modal {
        width: 80%;
    }
    .tt-modal .modal-view {
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 576.98px) {
    .tt-modal {
        width: calc(100% - 40px);
    }
    .tt-modal .modal-view {
        height: 35rem;
    }
    .tt-modal li {
        padding: 1.5rem 0;
    }
    .tt-modal .txt-indent {
        font-size: 1.25rem;
    }
}

/*============================================================
header
============================================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    width: 100%;
    z-index: 100;
}
.hd_ci {
    display: inline-block;
    height: 2rem;
}
.hd_ci img {
    max-width: initial;
    width: auto;
    height: 100%;
}

/*============================================================
footer
============================================================*/
footer {
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.ft_info {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    font-size: 0.7rem;
    color: #666;
    vertical-align: middle;
}
.ft_info + .ft_info:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 0.6rem;
    background-color: #b2b2b2;
}

@media (max-width: 575.98px) {
    footer.has_floatbnr {
        margin-bottom: 5.5rem;
    }
    .ft_info {
        display: block;
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .ft_info + .ft_info {
        padding-top: 0.75rem;
    }
    .ft_info + .ft_info:before {
        display: none;
    }
}

/*============================================================
form
============================================================*/
.form_check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.form_check [type="checkbox"],
.form_check [type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}
.form_check .box,
.form_check .label {
    display: inline-block;
    vertical-align: middle;
}

/*============================================================
floating banner
============================================================*/
.float_bnr_box {
    position: fixed;
    top: 22.85%;
    right: 6.25%;
}
.float_bnr {
    display: block;
    position: relative;
    margin: 0.5rem 0;
    width: 7rem;
    height: 7rem;
    text-align: center;
    background-color: #000;
    border-radius: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.float_bnr .label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    font-size: 0.9rem;
    color: #fff;
    line-height: 1.2;
}
.float_bnr .label .ico {
    display: block;
    margin: 0 auto 0.5rem;
    width: 1.5rem;
}
.float_bnr .label small {
    padding-bottom:  5px;
}

@media (max-width: 575.98px) {
    .float_bnr_box {
        display: flex;
        flex-wrap: wrap;
        top: auto !important;
        right: auto !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100%;
        z-index: 100;
    }
    .float_bnr {
        margin: 0;
        width: 100%;
        height: 5.5rem;
        border-radius: 0;
    }
    .float_bnr .label {
        font-size: 1.25rem;
    }
    .float_bnr .label .ico,
    .float_bnr .label .ico + strong {
        display: inline-block;
        vertical-align: middle;
    }
    .float_bnr .label .ico {
        margin: 0 5px 0 0;
        width: 2rem;
    }
    .float_bnr .label small {
        padding-bottom: 0;
        font-size: 0.8rem;
    }
}