@charset "utf-8";

.cont_area {
    padding: 3rem 0;
}
.tip {
    font-size: 0.9rem;
    opacity: 0.6;
}

@media (max-width: 575.98px) {
    .tip {
        font-size: 1rem;
    }
}


/*============================================================
visual
============================================================*/
.vsl_area {
    overflow: hidden;
    position: relative;
    height: 48rem;
    color: #fff;
    background-color: #5753e2;
}
.vsl_area .grid {
    height: 100%
}
.vsl_area .txt_box {
    position: relative;
    padding-top: 14rem;
}
.vsl_area .tit {
    width: 50.25%;
}
.vsl_area .txt {
    padding-top: 1.75rem;
    font-size: 1.2rem;
    line-height: 1.4;
}
.vsl_area .btn {
    margin-top: 2rem;
}
.vsl_img {
    position: absolute;
}
.vsl_img_1 {
    top: 16.14%;
    right: -18.37%;
    width: 72.05%;
}
.vsl_img_2 {
    bottom: 2.7%;
    left: 41.88%;
    width: 30.77%;
}
.vsl_img_3 {
    top: -10%;
    left: 34%;
    width: 38.97%;
}
.vsl_img_4 {
    top: 8.33%;
    right: 12.39%;
    width: 16.66%;
}

@media (max-width: 991.98px) {
    .vsl_img_3 {
        top: -4%;
    }
}
@media (max-width: 575.98px) {
    .vsl_area {
        height: 70rem;
    }
    .vsl_area .txt_box {
        padding-top: 8.5rem;
        text-align: center;
    }
    .vsl_area .tit {
        width: 100%;
    }
    .vsl_area .img_box {
        bottom: 3%;
    }
    .vsl_img_1 {
        top: auto;
        bottom: 5.55%;
        right: -18.37%;
        width: 150%;
    }
    .vsl_img_2 {
        left: 0;
        width: 55.85%;
    }
    .vsl_img_3 {
        top: auto;
        bottom: 25%;
        left: -9%;
        width: 65%;
    }
    .vsl_img_4 {
        top: auto;
        bottom: 33.5%;
        right: 21.39%;
        width: 32%;
    }
}

/*============================================================
dashboard
============================================================*/
.db_box.lt {
    width: 53.8%;
}
.db_box.rt {
    width: 44.45%;
}
.db {
    text-align: center;
    color: #fff;
    background-color: #ff566d;
    border-radius: 0.5rem;
}
.db + .db {
    margin-top: 1rem;
}
.db.col {
    padding: 1.35rem 3rem;
}
.db.row {
    padding: 2rem 3rem;
    height: 17rem;
}
.db * {
    display: block;
}
.db .label {
    font-size: 1.2rem;
}
.db .count {
    font-size: 2.3rem;
}
.db .count_num {
    display: inline;
}
.db .level {
    padding-top: 0.75rem;
    font-size: 2rem;
    line-height: 1.25;
}
.db .ico {
    margin: 0.6rem auto 0;
    width: 5.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.db .ico.on {
    -webkit-animation:twirlIn 3.717s linear 0s 1 normal both;-webkit-transform-origin:50% 50%;
    animation:twirlIn 3.717s linear 0s 1 normal both;
    transform-origin:50% 50%
}
.db_box.rt .btn_box {
    padding-top: 1rem;
    text-align: right;
}
.db_box.rt .btn {
    padding: 0.6rem 1.65rem 0.4rem;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
}
.db_box.rt .btn:hover {
    background-color: #ff566d;
}

@-webkit-keyframes twirlIn{0%{transform:rotateZ(180deg) scaleX(0.1) scaleY(0.1);opacity:0}2%{transform:rotateZ(138.19deg) scaleX(0.682) scaleY(0.682);opacity:.248}4%{transform:rotateZ(-24.958deg) scaleX(1.369) scaleY(1.369);opacity:.496}6%{transform:rotateZ(-90.306deg) scaleX(1.36) scaleY(1.36);opacity:.743}8%{transform:rotateZ(-42.944deg) scaleX(1.022) scaleY(1.022);opacity:.991}10%{transform:rotateZ(21.971deg) scaleX(0.858) scaleY(0.858)}12%{transform:rotateZ(43.805deg) scaleX(0.898) scaleY(0.898)}14%{transform:rotateZ(15.491deg) scaleX(1) scaleY(1)}16%{transform:rotateZ(-19.543deg) scaleX(1.056) scaleY(1.056)}18%{transform:rotateZ(-20.575deg) scaleX(1.034) scaleY(1.034)}20%{transform:rotateZ(-.334deg) scaleX(0.99) scaleY(0.99)}22%{transform:rotateZ(10.912deg) scaleX(0.979) scaleY(0.979)}24%{transform:rotateZ(7.453deg) scaleX(0.993) scaleY(0.993)}26%{transform:rotateZ(-1.248deg) scaleX(1.004) scaleY(1.004)}28%{transform:rotateZ(-5.813deg) scaleX(1.007) scaleY(1.007)}30%{transform:rotateZ(-3.002deg) scaleX(1.002) scaleY(1.002)}32%{transform:rotateZ(1.256deg) scaleX(0.998) scaleY(0.998)}34%{transform:rotateZ(2.884deg)}36%{transform:rotateZ(1.121deg)}38%{transform:rotateZ(-1.229deg) scaleX(1.001) scaleY(1.001)}40%{transform:rotateZ(-1.367deg)}42%{transform:rotateZ(-.066deg)}44%{transform:rotateZ(0.694deg)}46%{transform:rotateZ(0.504deg)}48%{transform:rotateZ(-.06deg)}50%{transform:rotateZ(-.375deg)}52%{transform:rotateZ(-.207deg)}54%{transform:rotateZ(0.075deg)}56%{transform:rotateZ(0.189deg)}58%{transform:rotateZ(0.077deg)}60%{transform:rotateZ(-.077deg)}66%{transform:rotateZ(0.045deg)}100%{transform:rotateZ(0deg) scaleX(1) scaleY(1);opacity:1}}
@keyframes twirlIn{0%{transform:rotateZ(180deg) scaleX(0.1) scaleY(0.1);opacity:0}2%{transform:rotateZ(138.19deg) scaleX(0.682) scaleY(0.682);opacity:.248}4%{transform:rotateZ(-24.958deg) scaleX(1.369) scaleY(1.369);opacity:.496}6%{transform:rotateZ(-90.306deg) scaleX(1.36) scaleY(1.36);opacity:.743}8%{transform:rotateZ(-42.944deg) scaleX(1.022) scaleY(1.022);opacity:.991}10%{transform:rotateZ(21.971deg) scaleX(0.858) scaleY(0.858)}12%{transform:rotateZ(43.805deg) scaleX(0.898) scaleY(0.898)}14%{transform:rotateZ(15.491deg) scaleX(1) scaleY(1)}16%{transform:rotateZ(-19.543deg) scaleX(1.056) scaleY(1.056)}18%{transform:rotateZ(-20.575deg) scaleX(1.034) scaleY(1.034)}20%{transform:rotateZ(-.334deg) scaleX(0.99) scaleY(0.99)}22%{transform:rotateZ(10.912deg) scaleX(0.979) scaleY(0.979)}24%{transform:rotateZ(7.453deg) scaleX(0.993) scaleY(0.993)}26%{transform:rotateZ(-1.248deg) scaleX(1.004) scaleY(1.004)}28%{transform:rotateZ(-5.813deg) scaleX(1.007) scaleY(1.007)}30%{transform:rotateZ(-3.002deg) scaleX(1.002) scaleY(1.002)}32%{transform:rotateZ(1.256deg) scaleX(0.998) scaleY(0.998)}34%{transform:rotateZ(2.884deg)}36%{transform:rotateZ(1.121deg)}38%{transform:rotateZ(-1.229deg) scaleX(1.001) scaleY(1.001)}40%{transform:rotateZ(-1.367deg)}42%{transform:rotateZ(-.066deg)}44%{transform:rotateZ(0.694deg)}46%{transform:rotateZ(0.504deg)}48%{transform:rotateZ(-.06deg)}50%{transform:rotateZ(-.375deg)}52%{transform:rotateZ(-.207deg)}54%{transform:rotateZ(0.075deg)}56%{transform:rotateZ(0.189deg)}58%{transform:rotateZ(0.077deg)}60%{transform:rotateZ(-.077deg)}66%{transform:rotateZ(0.045deg)}100%{transform:rotateZ(0deg) scaleX(1) scaleY(1);opacity:1}}

@media (max-width: 991.98px) {
    .db.row {
        padding: 2rem 1rem;
    }
}
@media (max-width: 575.98px) {
    .dashboard {
        display: block;
    }
    .db_box.lt,
    .db_box.rt {
        width: 100%;
    }
    .db.row {
        margin-top: 1rem;
        padding: 1.65rem 2rem;
        height: auto;
    }
    .db.col {
        padding: 1.25rem 1.65rem;
    }
    .db .label {
        font-size: 1.25rem;
    }
    .db .ico {
        margin-top: 1.5rem;
        width: 9rem;
    }
    .db_box.rt .tip,
    .db_box.rt .btn_box {
        text-align: center;
    }
    .db_box.rt .tip,
    .db_box.rt .btn {
        font-size: 1.25rem;
    }
    .db_box.rt .btn {
        padding: 1rem 2rem;
    }
}

/*============================================================
type modal
============================================================*/
.type-modal li {
    align-items: flex-start;
}
.type-modal .thumb {
    width: 25%;
}
.type-modal .txt-box {
    width: 71%;
}

@media screen and (max-width: 576.98px) {
    .type-modal li {
        flex-direction: column;
    }
    .type-modal .thumb {
        margin: 0 auto;
        width: 14rem;
    }
    .type-modal .txt-box {
        padding-top: 2rem;
        width: 100%;
    }
}