<!Doctype html>
<html lang="ko">
    <head>
        <title>2022 트능(트렌드 능력고사)</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="keywords" content="CAREET, TCON, 대학내일, 트렌드, trend, 트렌드 능력고사, 2022 트능, 2022 트렌드 능력고사">
        <meta name="description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="2022 트능(트렌드 능력고사)">
        <meta property="og:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="og:image" content="../../content/2022/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="2022 트능(트렌드 능력고사)">
        <meta property="twitter:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="twitter:image" content="./../content/2022/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Firefox, Opera -->

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../content/2022/styles/style.css">
        <link rel="stylesheet" href="../../content/2022/styles/main.css">
        <script src="../../content/2022/scripts/jquery-1.12.4.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Ads: 614239268 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-614239268"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'AW-614239268');
    </script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid">
                <div class="flex_box flex_spc_btw flex_align_cnt hd_box">
                    <h1><a href="index.html" title="메인 페이지로 이동" class="hd_ci" id="ciTcon-main"><img src="../../content/2022/images/common/ci.png" alt="Carret 로고"></a></h1>
                </div>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <section class="vsl_area">
                <div class="grid">
                    <div class="img_box">
                        <img src="../../content/2022/images/main/visual-illust-01.png" alt="비주얼 이미지 1 - 트렌드 캐릭터들" class="vsl_img vsl_img_1">
                        <img src="../../content/2022/images/main/visual-illust-02.png" alt="비주얼 이미지 2 - 컴퓨터용 사인펜에 매달려 있는 도넛 캐릭터" class="vsl_img vsl_img_2">
                        <img src="../../content/2022/images/main/visual-illust-03.png" alt="비주얼 말풍선 - 전국민이 힙스터가 될 그날까지!" class="vsl_img vsl_img_3">
                    </div>
                    <div class="txt_box">
                        <h2 class="tit">
                            <img src="../../content/2022/images/main/visual-title.png" alt="2022 트능 트렌드 능력고사" class="pc_show">
                            <img src="../../content/2022/images/main/visual-title-mo.png" alt="2022 트능 트렌드 능력고사" class="mo_show">
                        </h2>
                        <p class="txt"><span class="txt_break_mo">요즘 도넛이 트렌드</span> 1열인 거 알고 있음?<br>작년보다 더 어려워진 트능!<br>당신의 힙 지수(feat.디저트)는 과연?</p>
                        <a href="quiz.html" title="트렌드 테스트 시작하기" class="btn tcon_btn lg" id="start-box">
                            <span class="letter">트</span><span class="letter" style="animation-delay: 0.05s;">렌</span><span class="letter" style="animation-delay: 0.1s;">드</span>
                            <span class="letter" style="animation-delay: 0.15s;">테</span><span class="letter" style="animation-delay: 0.2s;">스</span><span class="letter" style="animation-delay: 0.25s;">트</span>
                            <span class="letter" style="animation-delay: 0.3s;">S</span><span class="letter" style="animation-delay: 0.35s;">T</span><span class="letter" style="animation-delay: 0.4s;">A</span><span class="letter" style="animation-delay: 0.45s;">R</span><span class="letter" style="animation-delay: 0.5s;">T</span>
                        </a>
                    </div>
                </div> <!-- //grid -->
            </section> <!-- //visual area -->
            <section class="r-blue cont_area">
                <div class="grid">
                    <ul class="flex_box flex_spc_btw dashboard">
                        <li class="db_box lt">
                            <div class="flex_box flex_spc_btw flex_align_cnt db col">
                                <span class="label">응시자</span>
                                <strong class="fw700 count"><span class="count_num" data-count="1997645">0</span>명</strong>
                            </div>
                            <div class="flex_box flex_spc_btw flex_align_cnt db col">
                                <span class="label">응시자 평균 점수</span>
                                <strong class="fw700 count"><span class="count_num" data-count="72">0</span>점</strong>
                            </div>
                            <div class="flex_box flex_spc_btw flex_align_cnt db col">
                                <span class="label">만점자</span>
                                <strong class="fw700 count"><span class="count_num" data-count="37962">0</span>명</strong>
                            </div>
                            <p class="mt30 fc_white pc_show tip">※ 트렌드 지수는 1시간마다 갱신됩니다.</p>
                        </li>
                        <li class="db_box rt">
                            <div class="db row">
                                <span class="label">가장 많은 트렌드 유형은?</span>
                                <strong class="fw700 level">Lv.9 요즘 국룰 레터링케이크를 닮은 K-힙의 상징</strong>
                                <img src="../../content/2022/images/result/level-circlethumb-09.png?v=2" alt="레벨 아이콘" class="ico">
                            </div>
                            <p class="mt30 fc_white mo_show tip">※ 트렌드 지수는 1시간마다 갱신됩니다.</p>
                            <div class="btn_box">
                                <span class="fw700 btn show_modal">전체 트렌드 유형 보기</span>
                            </div>
                        </li>
                    </ul>
                </div> <!-- //grid -->
            </section> <!-- //content area -->
            <section class="cont_area">
                <div class="grid">
                    <ul class="flex_box flex_spc_btw flex_align_cnt corp_list">
                        <li>
                            <div class="circ">
                                <div class="txt_box">
                                    <img src="../../content/2022/images/main/ci-careet.png" alt="Careet 로고">
                                    <p class="pt20 fw700 txt" style="color: #ff6d01;">트렌드 당일 배송, 렛츠 캐릿!</p>
                                </div>
                            </div>
                            <div class="btn_box">
                                <a href="https://www.careet.net/" target="_blank" title="새 창으로 Careet 홈페이지 이동" class="btn" id="go-careet">홈페이지</a>
                                <a href="https://www.careet.net/Newsletter/" target="_blank" title="새 창으로 Careet 뉴스레터 이동" class="btn" id="go-newsletter">뉴스레터</a>
                                <a href="https://www.instagram.com/careet.official/" target="_blank" title="새 창으로 캐릿 인스타그램 이동" class="btn" id="go-insta">인스타그램</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../content/2022/images/main/corp-list-bg.png" alt="X 아이콘" class="ico">
                            <div class="circ">
                                <div class="txt_box">
                                    <img src="../../content/2022/images/main/ci-univ.png" alt="대학내일 로고">
                                    <p class="fw700 txt" style="color: #ed202c;">마케팅 전 영역에<br>가장 젊은 솔루션을 제공합니다.</p>
                                </div>
                            </div>
                            <div class="btn_box">
                                <a href="https://corp.univ.me/Home" target="_blank" title="새 창으로 대학내일 홈페이지 이동" class="btn" id="go-univ">홈페이지</a>
                                <a href="https://www.facebook.com/UNIVtomorrow/" target="_blank" title="새 창으로 대학내일 페이스북 이동" class="btn" id="go-facebook">페이스북</a>
                                <a href="https://www.20slab.org/" target="_blank" title="새 창으로 대학내일20대연구소 이동" class="btn" id="go-20slab">20대연구소</a>
                            </div>
                        </li>
                    </ul>
                </div> <!-- //grid -->
            </section> <!-- //content area -->
            <div class="float_bnr_box">
                <div class="float_bnr" id="share-box">
                    <ul class="share_list main2022">
                        <li>
                            <a title="페이스북으로 공유하기" class="share_ico fb" style="background-color: #3458a4;cursor:pointer"><img src="../../content/2022/images/common/ico-share-facebook.png" alt="페이스북 아이콘"></a>
                        </li>
                        <li>
                            <a title="트위터로 공유하기" class="share_ico twt" style="background-color: #2aa9e2;transition-delay: 0.05s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-twitter.png" alt="트위터 아이콘"></a>
                        </li>
                        <li>
                            <a  title="카카오톡으로 공유하기" class="share_ico kk" style="background-color: #ffe700;transition-delay: 0.1s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-kakaotalk.png" alt="카카오톡 아이콘"></a>
                        </li>
                        <li>
                            <a title="카카오스토리로 공유하기" class="share_ico ks" style="background-color: #fdc300;transition-delay: 0.15s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-kakaostory.png" alt="카카오스토리 아이콘"></a>
                        </li>
                        <li>
                            <a title="네이버 블로그로 공유하기" class="share_ico nv" style="background-color: #34b24a;transition-delay: 0.2s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-blog.png" alt="네이버 블로그 아이콘"></a>
                        </li>
                        <li>
                            <a title="url 복사하기" class="share_ico url" style="background-color: #000;transition-delay: 0.3s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-url.png" alt="url 아이콘"></a>
                        </li>
                    </ul>
                    <div class="label">
                        <img src="../../content/2022/images/common/ico-share.png" alt="공유 아이콘" class="ico">
                        <strong class="fw700">2022 트능<br>소문내기</strong>
                    </div>
                </div>
                <div class="float_bnr" id="previous-box">
                    <div class="label" onclick="javascript:window.open('javascript:void(0);')">
                        <img src="../../content/2022/images/common/ico-back.png" alt="화살표 아이콘" class="ico">
                        <strong class="fw700">2020 트능<br>도전하러 가기</strong>
                    </div>
                </div>
            </div> <!-- //floating banner -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer class="has_floatbnr">
            <div class="grid">
                <span class="ft_info">문의 : <b>careet@careet.net</b></span>
                <span class="ft_info">COPYRIGHT(C) UNIVTOMORROW.ALL RIGHTS RESERVED.</span>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- modal START -->
        <div class="modal_area">
            <div class="modal_wrap type-modal">
                <div class="modal-view">
                    <ul class="type-modal-list">
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-01.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.1 전병처럼 클래식한 트렌드계의 자연인</b></p>
                                    <p class="txt-indent">바깥 세상의 떠들썩함보다 내면의 고요함에 더 집중하는 당신. 트렌드에 얽매이지 않는 당신은 평화주의적 성격을 가지고 있습니다. 트렌드는 아마 거의 모르실 거예요. 관심조차 두지 않으셨으니까요. SNS는 있더라도 가아끔 들어가는 눈팅용 계정일 확률이 높아요. 비교적 평화로운 삶에 만족스러워할 것 같지만, 때로는 전병 너머 다채로운 맛으로 가득한 요즘 디저트가 궁금하시진 않으신가요? 이제 와서 주책일까 겁난다고요? 너무 늦어버렸다고 자책하시지 마시고, 용기를 내보세요. 가슴 속 어딘가에는 분명 힙이 살아 숨쉬고 있을테니까요.</p>
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-02.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.2 쫀디기 재질의 자발적 고인물</b></p>
                                    <p class="txt-indent">관심 분야만 파는 소나무 취향의 당신. 남들이 시티팝을 들어도 90년대 노래에 찐감성이 있다 생각하고, 새로운 친구를 사귀는 자리보다 오래된 친구들과 있는 편안한 자리를 좋아하실 것 같군요. 요즘 세상이 어떻게 돌아가지에는 별로 관심이 없지만, 유행에 뒤처진다고 상처받는 타입도 아니신 거 같아요. 하지만 구워 먹으면 쫀득쫀득 더 맛있어지는 쫀디기처럼 요즘 트렌드에 감성을 뎁혀 보시면 더 매력적인 사람이 될 거예요. 쫀디기 굽는 법이 난로에서 에프(에어 프라이어)로 진화한 것처럼 요즘 유행을 조금 더 경험해보시는 건 어떨까요?</p>
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-03.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.3 흑당밀크티를 닮은 조기 은퇴 힙스터</b></p>
                                    <p class="txt-indent">근황 토크보다 추억 토크를 좋아하는 당신. '아, 그때가 좋았지' 라는 생각을 자주 하시진 않나요? 리즈 시절엔 힙스터였지만 지금은 옛날처럼 활동하기에 약간 지쳐 있는 상태라고 할 수 있겠네요. 곱창 밴드, 부츠컷 바지를 보며 '역시 유행 돌고 도네~' 생각하진 않는지? 한때는 힙스터라는 자부심이 있었겠지만, 방심한 사이에 당신은 점차 트렌드에 멀어지고 있답니다. 막상 아는 동생이나 후배가 이거 무슨 뜻인지 아세요? 하면 승부욕을 느끼시죠? 아직 늦지 않았어요. 트렌드도 공부하면 금세 따라잡을 수 있으니까요!</p>
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-04.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.4 마카롱처럼 조용히 강한 트렌드 모범생</b></p>
                                    <p class="txt-indent">꾸준하게 인기 있는 마카롱처럼 늘 잔잔하게 트렌드를 '공부'하고 있는 타입. 궁금증이 풀려야 비로소 심신에 안정이 찾아오는 성향이군요. 학구열이 높은 성실파가 흔히 그렇듯, 새로운 트렌드를 알게 되는 데서 오는 자잘한 성취감을 즐기는 편이에요. 세상 돌아가는 일에 뒤처지지 않기 위해 남의 이야기를 잘 경청하기도 합니다. 끊임없이 바뀌는 인기 디저트처럼 자고 일어나면 변해 있는 트렌드, 슬슬 혼자서 따라잡기가 힘에 부침을 느끼시겠지만, 그래도 포기하지 말아요..! 아직 당신은 충분히 젊으니까요.</p>
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-05.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.5 약과처럼 귀환한 소싯적 유행통신</b></p>
                                    <p class="txt-indent">기분과 체력이 허락할 때 선택적 힙스터가 되는 당신. 새롭게 트렌드로 떠오른 것이 무엇인지, 돌아온 유행템엔 어떤 것들이 있는지 대충 알지만 먹고 입고 보지 않는 것은 '귀찮아서'일 확률이 높습니다. 와중에 운은 당신 편이어서 그 어렵다는 피케팅, 약케팅도 들어가기만 하면 수월하게 해내는 편. 그 덕에 스스로는 '그 정도로 트렌디하진 않은데...'라고 겸손해하실지도 모르겠지만, 남들 눈에는 마이웨이 힙을 갖춘 사람으로 보이고 있어요. 돌아온 유행템 약과처럼 여전히, 꾸준히, 계속 트렌드력을 유지하신다면 "아직 감 안죽었다"는 말을 듣게 되실 거예요!</p>
                                    
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-06.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.6 1일 1달고나 중인 트렌드 눈치왕</b></p>
                                    <p class="txt-indent">섬세한 결정력이 필요한 달고나처럼 세상 일에 눈치가 빠른 당신. 호기심과 스몰 마인드를 동시에 가지고 태어나 전면에 나서기보다 늘 한 발짝 뒤에서 트렌드를 눈팅하는 편입니다. 신조어를 들어는 봤는데 실제로 쓰기는 쑥스러워 하는 타입이라고 할까요? 하지만 요령이 좋은 편이라 티가 잘 안 나요. <오징어 게임> 트렌드에 발을 푹 담그진 않았어도 알 만한 건 다 알고 있어 누가 보면 정주행 N번한 사람처럼 비치는 타입. 반짝하는 트렌드를 누구보다 반짝 잘 캐치하는 트렌드 가성비 만렙의 눈치왕입니다.</p>
                                    
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-07.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.7 크로플st. 집콕 중에도 빛나는 트렌드세터</b></p>
                                    <p class="txt-indent">혹시 '트며들다'라는 말 들어보셨어요? 당신은 '트렌드'가 자연스럽게 '스며드는' 스폰지 같은 사람이라고 할 수 있겠네요. 어떤 트렌드도 당신에게 스며들면 자연스레 당신만의 취향과 스타일이 됩니다. 크로와상 생지를 와플 기계에 넣어 탄생한 크로플처럼 어디에 두어도 최적으로 트렌스포메이션 가능한 존재! 집콕 시대 최고의 발명품으로 불리는 크로플을 넘어 또 어떤 존재로 탈바꿈할지 기대돼요.</p>
                                    
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-08.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.8 민초아이스크림 같은 팬덤몰이 힙쟁이</b></p>
                                    <p class="txt-indent">취향 자존감 120%인 당신. 민초vs반민초, 딱복vs물복 같은 양강구도에서 분명한 취향을 내세우시는 편이군요. 그리고 그 취향들은 대부분 트렌드와 맞닿아있을 겁니다. 모든 트렌드를 다 알지는 못하지만, 꽂힌 건 확실하게 마스터하는 타입이라고 말할 수 있습니다. 나만 아는 브랜드, 나만 아는 가오픈 카페, 나만 아는 뮤지션 리스트를 업데이트하는 것을 즐기시지 않나요? 마치 민초파처럼 확고한 취향 덕분에 당신의 주변인들도 당신을 덕질하고 있을 겁니다.</p>
                                    
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-09.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.9 요즘 국룰 레터링케이크를 닮은 K-힙의 상징</b></p>
                                    <p class="txt-indent">당신의 MBTI는 F.A.S.T? 새로운 트렌드가 나오면 누구보다 빠르게 섭렵하는 당신은 요즘 기념일 선물의 국룰이 된 레터링 케이크 같은 존재예요. 늘 반발짝 빠르게 트렌디한 아이템을 가져오니 친구들에게도 인기만점. 평소엔 댓글 맛집과 SNS 게시글 등 디지털 세상을 돌아다니며 핫한 것은 뭐든 줍줍하는 습관을 가지고 있을 것 같네요. 이것저것 모은 꿀팁과 정보를 혼자 알기보다 사람들에게 나눠주길 즐기는 당신은 존재 자체가 기념일 케이크 재질!</p>
                                    
                                </div>
                            </li>
                            <li style="display:flex; justify-content:space-between">
                                <img src="../../content/2022/images/result/level-circlethumb-10.png?v=2" alt="레벨 아이콘" class="thumb">
                                <div class="txt-box">
                                    <p class="txt-indent"><b>Lv.10 도넛처럼 명실상부한 트렌드 1열</b></p>
                                    <p class="txt-indent">도넛이 유행이라고??? 놀라는 친구 앞에서 도넛 3대장 브랜드부터 유행의 배경까지 줄줄 읊을 수 있는 당신. "넌 그런 걸 어떻게 알아?"라는 질문을 자주 받지만, 본인은 그저 '다들 이 정도는 알지 않나...'라고 생각할 확률이 높습니다. 노력하지 않아도, 도넛 위의 슈가 파우더처럼 자연스레 트렌드를 온몸에 묻히고 다니는 타입이거든요. 유행하는 디저트부터 패션, 음악까지 안 먹고 안 입고 안 들어본 게 없는 내추럴 본 트렌드 천재. 대세 of 대세이자 트렌드 1열의 선봉장인 도넛 같은 존재가 분명합니다!</p>
                                    
                                </div>
                            </li>
                    </ul>
                </div> <!-- //modal view -->
                <div class="modal_btn_wrap">
                    <span class="btn modal_btn close_modal col1">닫기</span>
                </div> <!-- //modal button wrap -->
            </div> <!-- //modal wrap -->
        </div>
        <!-- //modal END -->
        <script src="../../content/2022/scripts/gsap.min.js"></script>
        <script src="../../content/2022/scripts/jquery.animateNumber.min.js"></script>
        <script>
             //share
            $('#share-box').on('click', function () {
                    $(this).find('.share_list').toggleClass('on');
                });

            //visual parallax animaton
            $.fn.parallax = function(resistance, mouse) {
                $el = $(this);
                TweenLite.to($el, 0.2, {
                    x: -((mouse.clientX - window.innerWidth / 2) / resistance),
                    y: -((mouse.clientY - window.innerHeight / 2) / resistance)
                });
            };

            $(document).mousemove(function(e) {
                //visual parallax
                $(".vsl_img_1").parallax(80, e);
                $(".vsl_img_2").parallax(50, e);
                $(".vsl_img_3").parallax(70, e);
                $(".vsl_img_4").parallax(60, e);
            });

            $(document).ready(function(){
                //modal
                var modalArea = $('.modal_area');
                var modalWrap = $('.modal_wrap');
                var showModal = $('.show_modal');
                var closeModal = $('.close_modal');

                showModal.on('click', function(e) {
                    e.preventDefault();
                    modalArea.fadeIn(250);
                    $('html').addClass('full');
                });
                closeModal.on('click', function(e) {
                    e.preventDefault();
                    modalArea.fadeOut(250);
                    $('html').removeClass('full');
                });
                modalArea.on('click', function(e){
                    if (!$(e.target).closest(modalWrap).length) {
                        $('html').removeClass('full');
                        $(this).fadeOut(150);
                    }
                });

                //animate Counter
                $(window).scroll(function(){
                    var windowST = $(this).scrollTop();
                    var dbTop = $('.dashboard').offset().top;

                    if(windowST > dbTop - 700) {
                        $('.count_num').each(function(){
                            var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
                            var countNum = $(this).attr('data-count');

                            $(this).prop('number', 0).animateNumber({
                                number: countNum,
                                numberStep: comma_separator_number_step
                            }, 850);
                        });
                        $('.db .ico').addClass('on');
                    }
                });
            });
        </script>
    </body>
</html>