
<!Doctype html>
<html lang="ko">
    <head>
        <title>2022 트능(트렌드 능력고사)</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="keywords" content="CAREET, TCON, 대학내일, 트렌드, trend, 트렌드 능력고사, 2022 트능, 2022 트렌드 능력고사">
        <meta name="description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="2022 트능(트렌드 능력고사)">
        <meta property="og:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="og:image" content="../../content/2022/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="2022 트능(트렌드 능력고사)">
        <meta property="twitter:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="twitter:image" content="./../content/2022/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Firefox, Opera -->

        <link rel="stylesheet" href="../../content/2022/styles/style.css">
        <link rel="stylesheet" href="../../content/2022/styles/sub.css">
        <script src="../../content/2022/scripts/jquery-1.12.4.min.js"></script>
        <!--[if lt IE 9]>
        <script src="../../content/2022/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid">
                <div class="flex_box flex_spc_btw flex_align_cnt hd_box">
                    <h1><a href="index.html" title="메인 페이지로 이동" class="hd_ci" id="ciTcon-main"><img src="../../content/2022/images/common/ci.png" alt="Carret 로고"></a></h1>
                </div>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- section START -->
        <section class="main2022">
            <div class="vsl_area">
                <div class="grid">
                    <div class="img_box">
                        <img src="../../content/2022/images/sub/visual-illust.png" alt="비주얼 이미지 - 컴퓨터용 사인펜에 매달려 있는 도넛 캐릭터" class="vsl_img">
                    </div>
                    <div class="txt_box">
                        <h2 class="tit"><img src="../../content/2022/images/sub/visual-title.png" alt="2022 트능 트렌드 능력고사"></h2>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //visual area -->
            <div class="r-blue cont_area">
                <div class="grid">
                    <div class="flex_box flex_spc_btw flex_align_cnt fw700 db result_db">
                        <span class="label">당신의 트렌드 점수는?</span>
                        <strong class="count"><span class="count_num" data-count="75">0</span>점</strong>
                    </div>
                    <div class="brd_cont_box result_box">
                        <h3 class="fw700 tit">LV.9<br>요즘 국룰 레터링케이크를 닮은<br>K-힙의 상징</h3>
                        <p class="txt">당신의 MBTI는 F.A.S.T? 새로운 트렌드가 나오면 누구보다 빠르게 섭렵하는 당신은<br>요즘 기념일 선물의 국룰이 된 레터링 케이크 같은 존재예요.<br><span class="txt_break">늘 반발짝 빠르게 트렌디한 아이템을 가져오니 친구들에게도 인기만점.</span> 평소엔 댓글 맛집과 SNS 게시글 등 디지털 세상을 돌아다니며<br><span class="txt_break">핫한 것은 뭐든 줍줍하는 습관을 가지고 있을 것 같네요.</span> 이것저것 모은 꿀팁과 정보를 혼자 알기보다 사람들에게 나눠주길 즐기는 당신은<br><span class="txt_break">존재 자체가 기념일 케이크 재질!</span></p>
                        <div class="thumb"><img src="../../content/2022/images/sub/trend-type-thumb-09.png" alt="트렌드 유형 썸네일"></div>
                        <p class="txt pb0">이미지를 꾹 눌러 다운받을 수 있습니다.</p>
                        <div class="flex_box type_bhv_list">
                            <div class="flex_box_el">
                                <ul>
                                    <li>
                                        <span class="ico r-blue"><img src="../../content/2022/images/sub/trend-behavior-ico-01.png" alt="카톡 상메 아이콘"></span>
                                        <strong class="label fc-r-blue">당신의 최신 유행어</strong>
                                        <p class="txt">킹받네</p>
                                    </li>
                                    <li>
                                        <span class="ico r-blue"><img src="../../content/2022/images/sub/trend-behavior-ico-05.png" alt="발 모양 아이콘"></span>
                                        <strong class="label fc-r-blue">트렌드 발견 루트</strong>
                                        <p class="txt">자연히 알게 됨</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex_box_el">
                                <ul>
                                    <li>
                                        <span class="ico r-blue"><img src="../../content/2022/images/sub/trend-behavior-ico-06.png" alt="TV 아이콘"></span>
                                        <strong class="label fc-r-blue">최애 예능</strong>
                                        <p class="txt">환승연애</p>
                                    </li>
                                    <!-- <li>
                                        <span class="ico"><img src="../../content/2022/images/sub/trend-behavior-ico-04.png" alt="어울리는 트렌드 친구 타입 아이콘"></span>
                                        <strong class="label">어울리는 트렌드 친구 타입</strong>
                                        <p class="txt">LV 9. 인스타 스토리 재봉사<br>당신이 트렌디한 사람이라는 걸 효과적으로 홍보해줄 최고의 파트너<br>매 순간을 인스타 스토리 박음질로 실시간 공유해 줄 거예요!</p>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //content area -->
            <div class="cont_area banner_area top bg-orange">
                <div class="grid">
                    <h4 class="fw700 tit fc-brown">트렌드, 검색하지 말고 <span class="fc-orange">캐릿</span>하세요!</h4>
                    <p class="txt fc-brown"><span class="txt_break">문제 푸는 동안 몇 번이나 검색하셨나요?</span> 주목해야 할 MZ트렌드, <span class="fw700">이제 캐릿에서 만나보세요!</span></p>
                    <a href="https://www.careet.net/Subscribe" target="_blank" title="새 창으로 캐릿 구독 페이지 이동" class="btn tcon_btn md brown" style="color: #fff;" id="trend-btn01">
                        <span class="letter">캐</span><span class="letter" style="animation-delay: 0.05s;">릿</span>
                        <span class="letter" style="animation-delay: 0.1s;">구</span><span class="letter" style="animation-delay: 0.15s;">독</span><span class="letter" style="animation-delay: 0.2s;">하</span><span class="letter" style="animation-delay: 0.25s;">기</span>
                    </a>
                    <img src="../../content/2022/images/sub/banner-careet.png" alt="캐릿 배너 이미지" class="banner_img">
                </div><!-- //grid -->
            </div> <!-- //banner area -->
            <div class="fc_white cont_area banner_area md d-blue">
                <div class="grid">
                    <a href="javascript:void(0);" target="_blank" class="banner_area__md_link" title="T-CON 바로가기" id="trend-btn02">
                        <div>
                            <h4 class="fw700 tit"><span class="fc-yellow">Z세대의 진짜 트렌드가</span><br>궁금하다면?</h4>
                            <ul class="tag-list">
                                <li><img src="../../content/2022/images/sub/banner-tcon-tag-01.png" alt="#숏폼"></li>
                                <li><img src="../../content/2022/images/sub/banner-tcon-tag-02.png" alt="#힙플레이스"></li>
                                <li><img src="../../content/2022/images/sub/banner-tcon-tag-03.png" alt="#놀이"></li>
                                <li><img src="../../content/2022/images/sub/banner-tcon-tag-04.png" alt="#라이프스타일"></li>
                            </ul>
                        </div>
                        <img src="../../content/2022/images/sub/banner-tcon-image.png" alt="사전예약 배너 이미지" class="banner_img">
                    </a>
                </div>
                <!-- //grid -->
            </div> <!-- //banner area -->
            <div class="float_bnr_box">
                <div class="float_bnr" id="share-box">
                    <ul class="share_list">
                        <li>
                            <a title="페이스북으로 공유하기" class="share_ico fb" style="background-color: #3458a4;cursor:pointer"><img src="/content/2022/images/common/ico-share-facebook.png" alt="페이스북 아이콘"></a>
                        </li>
                        <li>
                            <a title="트위터로 공유하기" class="share_ico twt" style="background-color: #2aa9e2;transition-delay: 0.05s;cursor:pointer"><img src="../../content/2022/images/common/ico-share-twitter.png" alt="트위터 아이콘"></a>
                        </li>
                        <li>
                            <a title="카카오톡으로 공유하기" class="share_ico kk" style="background-color: #ffe700;transition-delay: 0.1s;cursor:pointer"><img src="/content/2022/images/common/ico-share-kakaotalk.png" alt="카카오톡 아이콘"></a>
                        </li>
                        <li>
                            <a title="카카오스토리로 공유하기" class="share_ico ks" style="background-color: #fdc300;transition-delay: 0.15s;cursor:pointer"><img src="/content/2022/images/common/ico-share-kakaostory.png" alt="카카오스토리 아이콘"></a>
                        </li>
                        <li>
                            <a title="네이버 블로그로 공유하기" class="share_ico nv" style="background-color: #34b24a;transition-delay: 0.2s;cursor:pointer"><img src="/content/2022/images/common/ico-share-blog.png" alt="네이버 블로그 아이콘"></a>
                        </li>
                        <li>
                            <a title="url 복사하기" class="share_ico url" style="background-color: #000;transition-delay: 0.3s;cursor:pointer"><img src="/content/2022/images/common/ico-share-url.png" alt="url 아이콘"></a>
                        </li>
                    </ul>
                    <div class="label">
                        <img src="../../content/2022/images/common/ico-share.png" alt="공유 아이콘" class="ico">
                        <strong class="fw700">친구에게<br>공유하기</strong>
                    </div>
                </div>
                <a href="quiz.html" class="float_bnr" id="restart-box">
                    <div class="label">
                        <img src="../../content/2022/images/common/ico-replay.png" alt="다시 도전하기 아이콘" class="ico">
                        <strong class="fw700"><span class="txt_break">다시</span> 도전하기</strong>
                    </div>
                </a>
            </div> <!-- //floating banner -->
        </section>
        <!-- //section END -->
        <!-- footer START -->
        <footer class="has_floatbnr">
            <div class="grid">
                <span class="ft_info">문의 : <b>careet@careet.net</b></span>
                <span class="ft_info">COPYRIGHT(C) UNIVTOMORROW.ALL RIGHTS RESERVED.</span>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- modal START -->
        <div class="modal_area">
            <div class="modal_wrap tt-modal type-modal">
                <div class="modal-hd">
                    <h4 class="fw700 modal-hd-tit"><span class="txt_break_mo">2022 트능 트렌드 능력고사</span> 정답과 해설</h4>
                </div> <!-- //modal header -->
                <div class="modal-view">
                    <ul>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">1단계 정답 : <span class="fc_pink">주소 불러</span></strong>
                                <p class="txt-indent">택배 보낼 '주소 불러'의 줄임말로, 주로 MZ세대 사이에서 덕메(덕질 메이트)나 트친(트위터 친구)에게 아이돌 관련 굿즈나 간식, 선물 등을 보내줄 때 쓰이기 시작한 말.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">2단계 정답 : <span class="fc_pink">지리산</span></strong>
                                <p class="txt-indent">&lt;지리산&gt;은 tvN 드라마. 나머지 작품들은 모두 OTT 플랫폼의 오리지널 시리즈. 환승연애-TVING, D.P.-넷플릭스, SNL코리아-쿠팡플레이.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">3단계 정답 : <span class="fc_pink">피치스 도원</span></strong>
                                <p class="txt-indent">'피치스 도원'은 자동차 문화 기반의 라이프스타일 브랜드 피치스(peaches)와 한국타이어가 협업해 오픈한 복합문화공간. ‘텅플래닛’은 패션 브랜드 아더에러(ADER)에서 만든 카페, '텍스쳐성수'는 가구 브랜드 텍스쳐(txture)에서 운영하는 쇼룸 겸 카페, ‘포인트 오브 뷰’는 종이와 필기구 등을 파는 어른을 위한 문구점.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">4단계 정답 : <span class="fc_pink">어쩔티비</span></strong>
                                <p class="txt-indent">'어쩔티비'는 요즘 Z세대 사이에서 유행하는 말로 "어쩌라고?" "어쩔건데?"라는 의미. '어쩔'에 별다른 의미가 없는 '티비'(텔레비전 아님)가 붙은 말. 나머지는 Z세대피셜, ‘요즘도 그런 말 쓰는 사람이 있나요?’에 해당하는 표현들.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">5단계 정답 : <span class="fc_pink">무화과 빙수</span></strong>
                                <p class="txt-indent">약과는 최근 다시 떠오르는 전통 간식. Z세대 사이에서 '약케팅(약과 티케팅)'이란 말을 낳은 의정부의 장인한과가 유명함. '꿀젤리'는 먹방 유튜버 사이에서 유행했으며, 복숭아 안에 그릭요거트를 넣은 '그릭 복숭아'는 Z세대 SNS 피드를 달군 디저트.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">6단계 정답 : <span class="fc_pink">누데이크</span></strong>
                                <p class="txt-indent">누데이크는 아이 웨어 브랜드 '젠틀몬스터'가 선보인 디저트 브랜드로, SNS 인증을 부르는 힙한 디저트로 주목받는 곳. '로블록스', '게더타운'은 미국의 대표 메타버스 플랫폼이며 '이프랜드'는 SK텔레콤에서 선보인 메타버스 플랫폼.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">7단계 정답 : <span class="fc_pink">돼지바 와사비맛</span></strong>
                                <p class="txt-indent">'돼지바 와사비맛'은 돼지바 공식 인스타그램에서 돼지바의 '새로운 맛'에 대한 소비자 아이디어를 공모 받기 위해 내놓은 가상 신제품. 나머지는 모두 올해 출시되어 MZ세대 사이에서 화제가 된 제품.</p>
                            </div>
                        </li>
                        <li>
                            <div class="txt-box">
                                <strong class="txt-indent">8단계 정답 : <span class="fc_pink">커꾸-커피꾸미기</span></strong>
                                <p class="txt-indent">답은 커꾸. '신꾸'는 크록스에 '지비츠'라고 하는 전용 액세서리를 끼워 신는 것에서 시작되었으며, '깊꾸'는 기프티콘 을 선물할 때 바코드를 제외한 부분에 스마트폰 편집 기능으로 그림을 그리거나 스티커를 붙여 주는 것. 무엇이든 꾸미길 좋아하는 Z세대는 맛있는 음식을 먹는 것을 '위꾸(위장 꾸미기)라고 표현하기도.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- //modal view -->
                <div class="modal_btn_wrap">
                    <a href="javascript:void(0);" class="btn modal_btn close_modal col1">닫기</a>
                </div> <!-- //modal button wrap -->
            </div> <!-- //modal wrap -->
        </div>
        <!-- //modal END -->
        <script src="../../content/2022/scripts/jquery.animateNumber.min.js"></script>
        <script src="../../content/2022/scripts/"></script>
        <script>
            $(document).ready(function(){
                //share
                $('#share-box').on('click', function () {
                    $(this).find('.share_list').toggleClass('on');
                });

                //modal
                var modalArea = $('.modal_area');
                var modalWrap = $('.modal_wrap');
                var showModal = $('.show_modal');
                var closeModal = $('.close_modal');

                showModal.on('click', function(e) {
                    e.preventDefault();
                    modalArea.fadeIn(250);
                    $('html').addClass('full');
                });
                closeModal.on('click', function(e) {
                    e.preventDefault();
                    modalArea.fadeOut(250);
                    $('html').removeClass('full');
                });
                modalArea.on('click', function(e){
                    if (!$(e.target).closest(modalWrap).length) {
                        $('html').removeClass('full');
                        $(this).fadeOut(150);
                    }
                });

                //animate Counter
                setTimeout(function(){
                    $('.count_num').each(function(){
                        var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
                        var countNum = $(this).attr('data-count');

                        $(this).prop('number', 0).animateNumber({
                            number: countNum,
                            numberStep: comma_separator_number_step
                        }, 500);
                    });
                    $('.result_box').addClass('on');
                }, 80);
            });
        </script>
    </body>
</html>