<!Doctype html>
<html lang="ko">
    <head>
        <title>2022 트능(트렌드 능력고사)</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="keywords" content="CAREET, TCON, 대학내일, 트렌드, trend, 트렌드 능력고사, 2022 트능, 2022 트렌드 능력고사">
        <meta name="description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="" >
        <meta property="og:title" content="2022 트능(트렌드 능력고사)">
        <meta property="og:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="og:image" content="../../content/2022/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="2022 트능(트렌드 능력고사)">
        <meta property="twitter:description" content="전국민이 힙스터가 될 그날까지! 2022 트능(트렌드 능력고사)">
        <meta property="twitter:image" content="./../content/2022/images/share.png">

        <link rel="shortcut icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Chrome, Safari, IE -->
        <link rel="icon" type="image/x-icon" href="../../content/2022/images/favicon.ico"> <!-- Firefox, Opera -->

        <link rel="stylesheet" href="../../content/2022/styles/style.css">
        <link rel="stylesheet" href="../../content/2022/styles/sub.css">
        <script src="../../content/2022/scripts/jquery-1.12.4.min.js"></script>
        <!--[if lt IE 9]>
        <script src="../../content/2022/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid">
                <div class="flex_box flex_spc_btw flex_align_cnt hd_box">
                    <h1><a href="index.html" title="메인 페이지로 이동" class="hd_ci" id="ciTcon-main"><img src="../../content/2022/images/common/ci.png" alt="Carret 로고"></a></h1>
                </div>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- section START -->
        <section class="main2022">
            <div class="vsl_area">
                <div class="grid">
                    <div class="img_box">
                        <img src="../../content/2022/images/sub/visual-illust.png" alt="비주얼 이미지 - 컴퓨터용 사인펜에 매달려 있는 도넛 캐릭터" class="vsl_img">
                    </div>
                    <div class="txt_box">
                        <h2 class="tit"><img src="../../content/2022/images/sub/visual-title.png" alt="2022 트능 트렌드 능력고사"></h2>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //visual area -->
            <div class="r-blue cont_area">
                <div class="grid">
                    <div class="brd_cont_box quiz_box">
                        <strong class="step">16단계 도전!</strong>
                        <h3 class="fw400 tit">다음 중 패션 업계와 컬래버레이션 티셔츠를 만들지 않은 브랜드는? <span class="fc_lgrey">(6점)</span></h3>
                    </div>
                    <ul class="flex_box flex_spc_btw answer_box">
                        <li>
                            <label class="db form_check">
                                <input type="radio" name="quiz">
                                <span class="box"></span>
                                <span class="fw700 label">① 크리틱-KFC</span>
                            </label>
                        </li>
                        <li>
                            <label class="db form_check">
                                <input type="radio" name="quiz">
                                <span class="box"></span>
                                <span class="fw700 label">② FCMM-팔도비빔면</span>
                            </label>
                        </li>
                        <li>
                            <label class="db form_check">
                                <input type="radio" name="quiz">
                                <span class="box"></span>
                                <span class="fw700 label">③ 휠라-서브웨이</span>
                            </label>
                        </li>
                        <li>
                            <label class="db form_check">
                                <input type="radio" name="quiz">
                                <span class="box"></span>
                                <span class="fw700 label">④ 스파오-엽기떡볶이</span>
                            </label>
                        </li>
                    </ul>
                    <div class="btn_box page_btn_box">
                        <a href="quizResult.html" title="트렌드 지수 결과 보러가기" class="btn tcon_btn lg" id="quiz-result-btn">
                            <span class="letter">트</span><span class="letter" style="animation-delay: 0.05s;">렌</span><span class="letter" style="animation-delay: 0.1s;">드</span>
                            <span class="letter" style="animation-delay: 0.15s;">지</span><span class="letter" style="animation-delay: 0.2s;">수</span>
                            <span class="letter" style="animation-delay: 0.25s;">결</span><span class="letter" style="animation-delay: 0.3s;">과</span>
                            <span class="letter" style="animation-delay: 0.35s;">보</span><span class="letter" style="animation-delay: 0.4s;">기</span>
                        </a>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //content area -->
        </section>
        <!-- //section END -->
        <!-- footer START -->
        <footer class="has_floatbnr">
            <div class="grid">
                <span class="ft_info">문의 : <b>careet@careet.net</b></span>
                <span class="ft_info">COPYRIGHT(C) UNIVTOMORROW.ALL RIGHTS RESERVED.</span>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <script>
            $(document).ready(function(){
                //answer box
                $('.answer_box input[type="radio"]').change(function () {
                    $('.form_check').removeClass('on');
                    if ($(this).is(':checked')) {
                        $('.form_check').css('background-color', '#1b6bc9');
                        $(this).parents('.form_check').css('background-color', '#fffc00');
                        $(this).parents('.form_check').css('color', '#000');
                        $(this).parents('.form_check').addClass('on');
                    }
                });
            });
        </script>
    </body>
</html>